@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */
.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #aaaaaa77;
  border-radius: 5px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #aaaaaaaa;
}
