::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #eee;
}
::-webkit-scrollbar-thumb {
  background: #aaaaaa77;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaaaa;
}
.dark {
  ::-webkit-scrollbar-track {
    background: #000000dd;
  }
  ::-webkit-scrollbar-thumb {
    background: #aaaaaa33;
    border-radius: 2px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa22;
  }
}

.scrollable {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
